<h1><center>Comments: Food vs. Exercise Data Cleaning & EDA</center></h1>

In [1]:
#Importing libraries
import pandas as pd
import numpy as np

In [2]:
#read in the data
df_com = pd.read_csv('../datasets/food_and_exer-comments.csv')
df_com.head()

,Unnamed: 0,created_utc,body,subreddit
0,0,1587272734,They look delicious but where are the dinosaur...,food
1,1,1587272607,It looks like a pair of lungs,food
2,2,1587272592,"Looks great, i always request this from my mom...",food
3,3,1587272569,"I'm hungry, but that's almost too beautiful to...",food
4,4,1587272555,Looks\nGood how it taste ?,food

In [3]:
df_com.drop(columns=['Unnamed: 0', 'created_utc'], inplace=True)
#dropped the column 'Unnamed: 0'

In [4]:
df_com.head()

                                                body subreddit
0  They look delicious but where are the dinosaur...      food
1                      It looks like a pair of lungs      food
2  Looks great, i always request this from my mom...      food
3  I'm hungry, but that's almost too beautiful to...      food
4                         Looks\nGood how it taste ?      food

In [5]:
df_com['subreddit'][df_com['subreddit'] == 'food'] = 1

df_com['subreddit'][df_com['subreddit'] == 'Exercise'] = 0
#adapted from www.geeksforgeeks.org/
#turned 'food' & 'exercise' into 1s and 0s

In [6]:
df_comm = df_com['subreddit'].astype(int)
#the column was initially coming up as an object
#I converted the column into integers

In [9]:
print(df_com.head(2))
print(df_com.tail(2))

                                                body subreddit
0  They look delicious but where are the dinosaur...         1
1                      It looks like a pair of lungs         1
                                                    body subreddit
24998  Exactly my man. Way too many people give up be...         0
24999                         No offence taken my friend         0

In [10]:
df_com[df_com['body'].duplicated() == True]
#checking for duplicates in the 'body' 
#will drop rows containing duplicates

                                                    body subreddit
25     I think the butter pickels cools the heat from...         1
38                                             [removed]         1
43                                        I am confused.         1
50                                             [removed]         1
54                                             [removed]         1
...                                                  ...       ...
24961                                  Go to the doctor.         0
24978                                           Thanks !         0
24987                                         Thank you!         0
24990                                             Yessir         0
24997                                         Thanks bro         0

[2135 rows x 2 columns]

In [11]:
df_comment = df_com.drop_duplicates(subset="body")
#https://cmdlinetips.com/2019/09/how-to-drop-duplicate-rows-in-pandas/
#collected all duplicates from the 'body' 
#renamed dataframe in order to drop all rows containing duplicates

In [12]:
df_comment.shape

(22865, 2)

In [13]:
df_comment.isnull().sum()

body         0
subreddit    0
dtype: int64

In [14]:
df_comment.to_csv('clean-food_and_exer-comments.csv')