<h1><center>Comments: Food vs. Exercise Data Pulling Data</center></h1>

In [5]:
import requests
import time
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [6]:
base_url = 'https://api.pushshift.io/reddit/search/comment'
#read in pushshift api to access reddit comments

## Pulling subreddit for data on "Food"

In [7]:
def get_subs(subreddit, n_iter): #defined "get_subs" in order to pull
    df_list = []
    current_time = 1587272803  #food's time
    for _ in range(n_iter): #" '_' common way to denote you're going to do something 
                            #X of times, and we don't care about the numbers before the one we name" 
        res = requests.get(
            base_url,
            params = {
                'subreddit': subreddit, #this will be able to pull from any subreddit
                'size': 500, #Max iter per pull
                'before': current_time
            }
        )
        
        df = pd.DataFrame(res.json()['data'])
        df = df.loc[:, ['created_utc', 'body', 'subreddit']] #show me everything in these columns
        df_list.append(df) 
        current_time = df.created_utc.min()
        time.sleep(3) # time delay
        
    return pd.concat(df_list, axis=0) #adds the selected columns, pulled by .loc[], together


# Tim Book code (modified)

In [8]:
df_food = get_subs('food', 25)
#this code iterates through the 'food' subreddit 25 times at 500 hits each(Max iter for Reddit)

In [9]:
df_food.shape
# checking for the amount of data pulled
#rows, columns

(12500, 3)

In [10]:
df_food[df_food['body'].duplicated() == True] #checking for duplicates

     created_utc                                               body subreddit
25    1587271733  I think the butter pickels cools the heat from...      food
38    1587271400                                          [removed]      food
43    1587271322                                     I am confused.      food
50    1587271239                                          [removed]      food
54    1587271203                                          [removed]      food
..           ...                                                ...       ...
446   1586993421                                          [removed]      food
459   1586993073                                          Gorgeous!      food
465   1586992967                                            Thanks!      food
487   1586992303                                          [removed]      food
492   1586992205                                          [deleted]      food

[1383 rows x 3 columns]

## Pulling subreddit for data on "Exercise"

In [11]:
df_exer = get_subs('exercise', 25)
#this code iterates through the 'exercise' subreddit 25 times at 500 hits each(Max iter for Reddit)

In [12]:
df_exer.shape
# checking for the amount of data pulled
#rows, columns

(12500, 3)

In [13]:
df_exer[df_exer['body'].duplicated() == True]
#checking for duplicates in the body

     created_utc                                               body subreddit
89    1587189355  Your account is less than a week old. Your sub...  Exercise
112   1587168106  Your account is less than a week old. Your sub...  Exercise
163   1587123330  Your account is less than a week old. Your sub...  Exercise
164   1587121388  Your account is less than a week old. Your sub...  Exercise
193   1587082349  Your account is less than a week old. Your sub...  Exercise
..           ...                                                ...       ...
461   1568060596                                  Go to the doctor.  Exercise
478   1568011848                                           Thanks !  Exercise
487   1568000606                                         Thank you!  Exercise
490   1567996571                                             Yessir  Exercise
497   1567987974                                         Thanks bro  Exercise

[679 rows x 3 columns]

## Combine data and turn into DataFrame

In [14]:
df_food_exer = pd.concat([df_food, df_exer], axis=0)
#concatinating both dataframes: df_food, df_exer

In [15]:
df_food_exer.head()
#verifying that both columns concatinated properly

   created_utc                                               body subreddit
0   1587272734  They look delicious but where are the dinosaur...      food
1   1587272607                      It looks like a pair of lungs      food
2   1587272592  Looks great, i always request this from my mom...      food
3   1587272569  I'm hungry, but that's almost too beautiful to...      food
4   1587272555                         Looks\nGood how it taste ?      food

In [16]:
df_food_exer.tail()
#verifying that both columns concatinated properly

     created_utc                                               body subreddit
495   1567990841                          Iâ€™m glad, keep grinding!!  Exercise
496   1567989897  I just do both and if anyone asks I say Iâ€™m le...  Exercise
497   1567987974                                         Thanks bro  Exercise
498   1567987846  Exactly my man. Way too many people give up be...  Exercise
499   1567987584                         No offence taken my friend  Exercise

In [17]:
df_food_exer.to_csv('food_and_exer-comments.csv')
#exported into a .csv file